{% extends "cosinnus_message/base.html" %}
{% load i18n %}
{% load cosinnus_tags %}
{% load embed_video_tags %}

{% block page_title %}Message{% endblock %}

{% block subnav_add_right %}
{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{{ object.title }}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Message" %}: {{ object.title }}</h3>
<div class="media">
  <a class="pull-left" href="#">
    {% if object.creator.cosinnus_profile.avatar %}
      <img class="media-object avatar avatar-medium" src="DISABLED FOR NOW!!!{{ object.creator.cosinnus_profile.avatar.url }}">
    {% else %}
      <img class="media-object avatar avatar-medium" src="http://placehold.it/64x64">
    {% endif %}
  </a>
  <div class="media-body">
    <h5 class="media-heading muted pull-right">{{ object.created }}</h5>
    <h4 class="media-heading"><a href="{% url 'cosinnus:user-detail' username=object.creator.get_username %}">{{ object.creator.get_full_name|default:object.creator.username }}</a></h4>
    {% for recip in object.recipients.all %}
        An: {{ recip }} <br/>
    {% endfor %}
    
    {{ object.text }}
  </div>
</div>


{% endblock %}
