{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n cosinnus_tags postman_tags thumbnail %}{% load pagination_tags %}


{% block postman_content %}




<form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}

<!-- a box with semi transparent background -->
<div class="content-box">
    
    {% if pm_messages %}
        
        {% for message in pm_messages %}
            <div class="btn btn{% if message.is_new %}-extra{% endif %}-emphasized w100 {% if not forloop.last %}regular-space{% endif %}">
		        <ul class="media-list">
		            <li class="media">
		                <a class="pull-left" href="#">
		                    <i class="fa fa-square-o"></i>
		                    <input type="hidden" {% if by_conversation and message.thread_id %}name="delete_tpk__{{message.thread_id}}"{% else %}name="delete_pk__{{ message.pk }}"{% endif %}>
		                </a>
	                    <a class="pull-left" href="{{ message.sender|profile_url }}">
	                        {% include "cosinnus/user/user_avatar_image.html" with user=message.sender %}
	                    </a>
		                <div class="media-body">
		                    <a href="{% block pm_link %}{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}{% endblock %}">
		                        <span class="annotation moment-data-date" data-date="{{ message.sent_at|date:"c" }}"></span>
		                        <strong>
		                        {% block pm_sender_cell %}{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}{% endblock %}
                                {% block pm_recipient_cell %}{{ message.obfuscated_recipient|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}{% endblock %}
                                </strong>
		                        {% block pm_subject %}
                                    {{ message.subject }}
		                        {% endblock %}
		                    </a>
		                </div>
		            </li>
		        </ul>
		    </div>
        {% endfor %}
        
    {% else %}
	    {% include 'cosinnus/common/empty_button.html' with message="No messages." %}
	{% endif %}

</div><!-- content-box -->

<!-- TODO: add values from checkboxes -->

{% block pm_delete_button %}
<button type="submit" class="btn btn-emphasized messages-delete-button" onclick="this.form.action='{% url 'postman_delete' %}'">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-eraser"></i>
            </a>
            <div class="media-body">
                {% trans "Delete" %}
            </div>
        </li>
    </ul>
</button>
{% endblock %}
{% block pm_archive_button %}
<button type="submit" class="btn btn-emphasized messages-delete-button" onclick="this.form.action='{% url 'postman_archive' %}'">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-eraser"></i>
            </a>
            <div class="media-body">
                {% trans "Archive" %}
            </div>
        </li>
    </ul>
</button>
{% endblock %}
{% block pm_undelete_button %}
<button type="submit" class="btn btn-emphasized messages-delete-button" onclick="this.form.action='{% url 'postman_undelete' %}'">
    <ul class="media-list">
        <li class="media">
            <a class="pull-left" href="#">
                <i class="fa fa-eraser"></i>
            </a>
            <div class="media-body">
                {% trans "Undelete" %}
            </div>
        </li>
    </ul>
</button>
{% endblock %}

</form>

{% endblock postman_content %}