{% extends "postman/base.html" %}
{% load i18n bootstrap3 widget_tweaks %}

{% block postman_content %}
<!-- a box with semi transparent background -->
<div class="content-box">
    <form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">
    {% csrf_token %}
    
	    <div class="btn btn-default w100 regular-space">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-user"></i>
	                </a>
	                <div class="media-body">
	                    {% render_field form.recipients class+="user-selector w100" placeholder=form.recipients.label %}
	                </div>
	            </li>
	        </ul>
	    </div>
	
	    <div class="btn btn-default w100 regular-space">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body">
	                    {% render_field form.subject class+="form-control" placeholder=form.subject.label %}
	                </div>
	            </li>
	        </ul>
	    </div>
        
        {% render_field form.body class+="app-message-text" placeholder=form.body.label %}
        <!-- 
        TODO: Use django-widget-tweaks? 
        https://pypi.python.org/pypi/django-widget-tweaks
        
        http://stackoverflow.com/questions/16822600/how-to-customize-the-input-element-generated-by-django-forms
         -->          
	
	
	    <button type="submit" class="btn btn-emphasized app-message-send-button">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body">
	                    {% trans "Send" %}
	                </div>
	            </li>
	        </ul>
	    </button>
	    
    </form>

</div><!-- content-box -->
{% endblock %}