{% extends "postman/base.html" %}
{% load i18n postman_tags widget_tweaks thumbnail %}

{% block page_title %}{% trans "Message" %}{{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    
    {% with pm_messages.all|first as message %}
	    {% if message.sender == user %}
	       {% if message.sender_deleted_at %}
               <li class="active"><a href="{% url 'postman_trash' %}">{% trans "Trash" %}</a></li>	       
	       {% elif message.sender_archived %}
               <li class="active"><a href="{% url 'postman_archives' %}">{% trans "Archive" %}</a></li>         
           {% else %}
	           <li class="active"><a href="{% url 'postman_sent' %}">{% trans "Sent" %}</a></li>
	       {% endif %}
	    {% else %}
	       {% if message.recipient_deleted_at %}
               <li class="active"><a href="{% url 'postman_trash' %}">{% trans "Trash" %}</a></li>         
           {% elif message.recipient_archived %}
               <li class="active"><a href="{% url 'postman_archives' %}">{% trans "Archive" %}</a></li>         
           {% else %}
               <li class="active"><a href="{% url 'postman_inbox' %}">{% trans "Inbox" %}</a></li>
           {% endif %}
	    {% endif %}
        <li class="active">{% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}: {{ message.subject }}</li>
    {% endwith %}
{% endblock %}

{% block postman_content %}

<!-- a box with semi transparent background -->
<div class="content-box">
    
    {% for message in pm_messages reversed %}
    
	    <div class="btn btn-{% if message.sender == user %}extra-{% endif %}emphasized w100">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    {% if message.sender.cosinnus_profile.avatar %}
	                       <img src="{% thumbnail message.sender.cosinnus_profile.avatar 35x35 crop=smart %}" />
	                    {% else %}
	                       <i class="fa fa-user"></i>
	                    {% endif %}
	                </a>
	                <div class="media-body">
	                    <a href="documents-edit.html">
	                        <span class="annotation" data-date="{{ message.sent_at|date:"c" }}"></span>
	                        <strong>{{ message.obfuscated_sender|or_me:user }}</strong>
	                    </a>
	                </div>
	            </li>
	        </ul>
	    </div>
	    <p class="regular-space">{{ message.body|linebreaksbr }}</p>
    
    {% endfor %}

    {% if reply_to_pk %}
    <form action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
	    
	    <div class="btn btn-emphasized w100">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body">
	                    <a href="documents-edit.html">
	                        {% trans "Answer" %}
	                    </a>
	                </div>
	            </li>
	        </ul>
	    </div>
	
	    {{ form.body|add_class:"app-message-text" }}
	    
	    <button type="submit" class="btn btn-emphasized app-message-send-button">
	        <ul class="media-list">
	            <li class="media">
	                <a class="pull-left" href="#">
	                    <i class="fa fa-pencil"></i>
	                </a>
	                <div class="media-body">
	                    {% trans 'Reply' %}
	                </div>
	            </li>
	        </ul>
	    </button>
	</form>
    {% endif %}

</div><!-- content-box -->

{% with pm_messages.all|first as message %}

	<form action="" method="post">{% csrf_token %}
		<input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
		
		<button type="submit"  onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'" class="btn btn-emphasized">
		    <ul class="media-list">
		        <li class="media">
		            <a class="pull-left" href="#">
		                <i class="fa fa-eraser"></i>
		            </a>
		            <div class="media-body">
		                {% trans "Delete" %}
		            </div>
		        </li>
		    </ul>
		</button>
		
		{% if not archived %}
		<button type="submit" onclick="this.form.action='{% url 'postman_archive' %}?next={{ next_url|urlencode }}'" class="btn btn-emphasized">
		    <ul class="media-list">
		        <li class="media">
		            <a class="pull-left" href="#">
		                <i class="fa fa-folder"></i>
		            </a>
		            <div class="media-body">
		                {% trans "Archive" %}
		            </div>
		        </li>
		    </ul>
		</button>
		{% endif %}
		
	</form>

{% endwith %}

{% endblock %}